<footer class="bg-success text-light py-5">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md">
				<h4 class="mb-3">
					<span>The Minecraft API</span>
					<span>
						<small class="fs-6 mb-3 text-light">©2021</small>
					</span>
				</h4>
			</div>
			<div class="col-md-6">
				<h5>Links</h5>
				<ul class="list-unstyled text-small">
					<li>
						<a
							class="link-light text-decoration-none"
							href="/blocks"
							>Blocks API (GUI)</a
						>
					</li>
					<li>
						<a
							class="link-light text-decoration-none"
							href="/api/blocks"
							>Blocks API (RAW JSON)</a
						>
					</li>
					<li>
						<a class="link-light text-decoration-none" href="/docs"
							>Documentation</a
						>
					</li>
				</ul>
			</div>
			<div class="col-md-6">
				<h5>Resources</h5>
				<ul class="list-unstyled text-small">
					<li>
						<a class="link-light text-decoration-none" href="#"
							>Resource name</a
						>
					</li>
					<li>
						<a class="link-light text-decoration-none" href="#"
							>Resource</a
						>
					</li>
					<li>
						<a class="link-light text-decoration-none" href="#"
							>Another resource</a
						>
					</li>
					<li>
						<a class="link-light text-decoration-none" href="#"
							>Final resource</a
						>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<%- include("./scripts.ejs") %>
