footer.bg-success.text-light.py-5
	.container
		.row
			.col-12
				h4.mb-3
					span The Minecraft API
					span.ms-1.fs-6 2021
			.col-md-6
				h5 Links
				ul.list-unstyled.text-small
					li
						a.link-light.text-decoration-none(href='/blocks') Blocks API (GUI)
					li
						a.link-light.text-decoration-none(href='/api/blocks') Blocks API (RAW JSON)
					li
						a.link-light.text-decoration-none
							strike Terms of service
							|
							| (coming soon)
					li
						a.link-light.text-decoration-none
							strike Documentation
							|
							| (coming soon)
			.col-md-6
				h5 Resources
				ul.list-unstyled.text-small
					li
						a.link-light.text-decoration-none(
							href='https://mcasset.cloud/1.17.1/'
						) Image Assets (1.17.1)
					li
						a.link-light.text-decoration-none(href='https://github.com/sebmandal') Developer @sebmandal
					li
						a.link-light.text-decoration-none(
							href='https://github.com/LucasJoel1'
						) Developer @LucasJoel1
