<footer class="bg-success text-light py-5">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md">
				<h4 class="mb-3">
					<span>The Minecraft API</span>
					<span class="fs-6">2021</span>
				</h4>
			</div>
			<div class="col-md-6">
				<h5>Links</h5>
				<ul class="list-unstyled text-small">
					<li>
						<a
							class="link-light text-decoration-none"
							href="/blocks"
							>Blocks API (GUI)</a
						>
					</li>
					<li>
						<a
							class="link-light text-decoration-none"
							href="/api/blocks"
							>Blocks API (RAW JSON)</a
						>
					</li>
					<li>
						<a class="link-light text-decoration-none"
							><strike>Terms of service</strike> (coming soon)</a
						>
					</li>
					<li>
						<a class="link-light text-decoration-none"
							><strike>Documentation</strike> (coming soon)</a
						>
					</li>
				</ul>
			</div>
			<div class="col-md-6">
				<h5>Resources</h5>
				<ul class="list-unstyled text-small">
					<li>
						<a
							class="link-light text-decoration-none"
							href="https://mcasset.cloud/1.17.1/"
							>Image Assets (1.17.1)</a
						>
					</li>
					<li>
						<a
							class="link-light text-decoration-none"
							href="https://github.com/sebmandal"
							>Developer @sebmandal</a
						>
					</li>
					<li>
						<a
							class="link-light text-decoration-none"
							href="https://github.com/LucasJoel1"
							>Developer @LucasJoel1</a
						>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<%- include("./scripts.ejs") %>
