<header class="p-3 bg-success text-white">
	<div class="container">
		<div
			class="
				d-flex
				flex-wrap
				align-items-center
				justify-content-center justify-content-lg-start
			"
		>
			<a href="/" class="navbar-brand"
				><img
					src="https://cdn.discordapp.com/attachments/869843923428847666/875821648316616734/grass_block.png"
					alt="logo"
					height="800"
					width="800"
					style="height: 50px; width: auto"
				/>
			</a>
			<ul
				class="
					nav
					col-12 col-lg-auto
					me-lg-auto
					mb-2
					justify-content-center
					mb-md-0
				"
			>
				<li>
					<a
						href="/"
						class="
							nav-link
							btn btn-success
							rounded-0
							px-2
							text-white
						"
						>Home</a
					>
				</li>
				<li>
					<a
						href="/blocks"
						class="
							nav-link
							btn btn-success
							rounded-0
							px-2
							text-white
						"
						>Blocks</a
					>
				</li>
				<li>
					<a
						href="/add_block"
						class="
							nav-link
							btn btn-success
							rounded-0
							px-2
							text-white
						"
						>Developer</a
					>
				</li>
				<li>
					<a
						href="/api/blocks"
						class="
							nav-link
							btn btn-success
							rounded-0
							px-2
							text-white
						"
						>API Blocks</a
					>
				</li>
			</ul>

			<form
				action="/block/"
				class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3"
			>
				<input
					name="block"
					type="search"
					class="form-control form-control-dark"
					placeholder="Search..."
					aria-label="Search"
				/>
			</form>
		</div>
	</div>
</header>
