{
    "trailingComma": "es5",
    "tabWidth": 4,
    "useTabs": true,
    "semi": false,
    "singleQuote": true,

    "prettier.singleQuote": true,
    "prettier.eslintIntegration": true,
    "prettier.tabWidth": 4,
    "prettier.useTabs": true,

    "editor.tabSize": 4
}
