@import url("./minecraftia.css");

html,
body {
	height: 100%;
}

body {
	image-rendering: pixelated;

	background: url("/img/dirt.png");
	background-size: 100vw;
	background-repeat: repeat;

	font-family: "minecraftia";
}

.block {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.index-jumbotron {
	background-color: #146b41;
}

.index-jumbotron h2 {
	text-shadow: 0.25rem 0.25rem 0px #005304;
}

pre,
code {
	font-family: "minecraftia", monospace;
}
